<h4><i class="fas fa-barcode"></i> Lista de produtos</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Código de barras</th>
			<th scope="col">Nome</th>
			<th scope="col">Descrição</th>
			<th scope="col">Quantidade</th>
			<th scope="col">Categoria</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td></td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td></td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td></td>
		</tr>
	</tbody>
</table>