<div class="container">
    <div class="row">
        <div class="col-12 border-bottom">
            <div class="produto-list">
                <div class="table-bar d-flex justify-content-between">
                    <div class="title">
                        <h4>Lista de produtos</h4>
                    </div>
                    <div class="actions">
                        <div class="mr-2"><input type="text" class="form-control form-control-sm" placeholder="Filtrar"
                                ng-model="query" /></div>
                        <div><a href="#/produto/form" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-plus"></i> Novo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row table-header" ng-show="filtered.length > 0">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 5rem">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col" style="width: 8rem">Código</th>
                                    <!-- <th scope="col">Descrição</th> -->
                                    <th scope="col" class="text-center">Quantidade</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in filtered = (produtos | filter:query) | orderBy:produtos.idProduto">
                                    <th scope="row">{{p.idProduto}}</th>
                                    <td><a href="#/produto/view/{{p.idProduto}}">{{p.nome}}</a></td>
                                    <td>{{p.codigoBarras}}</td>
                                    <!-- <td>{{p.descricao}}</td> -->
                                    <td class="text-center">{{p.quantidade}}</td>
                                    <td>{{p.categoria}}</td>
                                    <td>
                                        <div class="table-actions text-right">
                                            <a href="#/produto/view/{{p.idProduto}}"><i class="far fa-eye"></i></a>
                                            <a href="#/produto/form/{{p.idProduto}}"><i class="fas fa-edit"></i></a>
                                            <a ng-click="remove(p.idProduto)"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row table-header" ng-show="filtered.length == 0">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="py-3 text-center">
                                    <div class="text-center">
                                        <!-- <i class="fas fa-barcode fa-2x"></i> -->
                                        <h5>Nenhum item encontrado</h2>
                                            <p class="lead">Limpe os filtros ou adicione um item novo na lista</p>
                                            <a href="#/produto/form" class="btn btn-lg btn-primary">
                                                <i class="fas fa-plus"></i> Adicionar
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>